extends layout
 
block content
 
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
    a.navbar-brand(href='#') Examen Primer Parcial
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
    div(align='center')
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='/')
            | Inicio 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='nosotros') Acerca de nosotros
        li.nav-item
          a.nav-link(href='servicios') Servicios
        li.nav-item
          a.nav-link(href='contacto') Contactanos
      form.form-inline.mt-2.mt-md-0
           
  main.container(role='main') 
    .jumbotron
      h1 Erickson Martinez
      p.lead
        |Bienvenido a mi perfil
    .container
    .row
      .col-md-4 
        h2 Quienes somos 
        .card
         img.card-img-top.img-fluid(src='/images/LogoE.jpg' alt='creacion de logotipo')
        .card-body
        div(align='center')
          a.btn.btn-secondary(href='Nosotros' role='button') Ver más &raquo;
     
      .col-md-4
        h2 Charla con nosotros
        .card
         img.card-img-top.img-fluid(src='/images/LogoE.jpg' alt='creacion de logotipo')
        .card-body
        div(align='center')
          a.btn.btn-secondary(href='Contacto' role='button') Ver más &raquo;
          
      .col-md-4
        h2 Servicios 
        .card
         img.card-img-top.img-fluid(src='/images/VideosJ.jpg' alt='creacion de logotipo')
        .card-body
        div(align='center')
          a.btn.btn-secondary(href='Servicios' role='button') Ver más &raquo;
    hr
 
  footer
  .container
    div(align='center')
      | Desarrollado por 
      a(href='https://www.facebook.com/erickson.martinezpadilla1' target='_blank') Erickson Martinez